name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: ['*']

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Code checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.60.0
          cache: true
          manifest-path: pyproject.toml
      - name: Run checks and formatters through pre-commit
        run: pixi run pre-commit run --all-files

  test-unit:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.60.0
          cache: true
          manifest-path: pyproject.toml
      - name: Test server extension
        run: pixi run test-pytest
      - name: Test client extension
        run: pixi run test-jest
      - name: Build the extension
        run: pixi run build
      - name: Upload extension packages
        uses: actions/upload-artifact@v4
        with:
          name: extension-artifacts
          path: dist/arbalister*
          if-no-files-found: error

  test-extension:
    needs: test-unit
    name: Test packaged extension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          architecture: 'x64'
      - uses: actions/download-artifact@v4
        with:
          name: extension-artifacts
      - name: Install and Test
        run: |
          set -eux
          # Remove NodeJS, twice to take care of system and locally installed node versions.
          sudo rm -rf $(which node)
          sudo rm -rf $(which node)

          pip install "jupyterlab>=4.5.0,<5" arbalister*.whl

          jupyter server extension list
          jupyter server extension list 2>&1 | grep -ie "arbalister.*OK"

          jupyter labextension list
          jupyter labextension list 2>&1 | grep -ie "arbalister.*OK"
          python -m jupyterlab.browser_check --no-browser-test

  test-integration:
    name: Integration tests
    needs: test-unit
    runs-on: ubuntu-latest
    env:
      PLAYWRIGHT_BROWSERS_PATH: ${{ github.workspace }}/pw-browsers
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
      - name: Download extension package
        uses: actions/download-artifact@v4
        with:
          name: extension-artifacts
      - name: Install the extension
        run: |
          set -eux
          python -m pip install "jupyterlab>=4.0.0,<5" arbalister*.whl
      - name: Install dependencies
        working-directory: ui-tests
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: 0
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        run: jlpm install
      - name: Set up browser cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ github.workspace }}/pw-browsers
          key: ${{ runner.os }}-${{ hashFiles('ui-tests/yarn.lock') }}
      - name: Install browser
        run: |
          set -eux
          jlpm playwright install-deps
          jlpm playwright install chromium
        working-directory: ui-tests
      - name: Execute integration tests
        working-directory: ui-tests
        run: |
          jlpm playwright test
      - name: Upload Playwright Test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: arbalister-playwright-tests
          path: |
            ui-tests/test-results
            ui-tests/playwright-report

  test-links:
    name: Test links
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
      - uses: jupyterlab/maintainer-tools/.github/actions/check-links@v1
